rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /vavagram/posts/{uid}/{postId}/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == uid
        && request.resource.size < 500 * 1024 * 1024
        && request.resource.contentType.matches('(image|video)/.*');
      allow delete: if signedIn() && request.auth.uid == uid;
    }

    match /vavagram/stories/{uid}/{storyId}/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == uid
        && request.resource.size < 500 * 1024 * 1024
        && request.resource.contentType.matches('(image|video)/.*');
      allow delete: if signedIn() && request.auth.uid == uid;
    }
  }
}